<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TICKETS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RPrioridades">
                <span class="bi bi-archive-fill d-flex align-items-center justify-content-center fs-5" aria-hidden="true"></span> Registro Prioridades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CPrioridades">
                <span class="bi bi-folder-fill d-flex align-items-center justify-content-center fs-4" aria-hidden="true"></span> Consulta Prioridades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RClientes">
                <span class="bi bi-person-plus-fill d-flex align-items-center justify-content-center fs-4" aria-hidden="true"></span> Registro Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CClientes">
                <span class="bi bi-person-vcard d-flex align-items-center justify-content-center fs-4" aria-hidden="true"></span> Consulta Clientes
            </NavLink>
        </div>
    </nav>
</div>

