@page "/RSistemas";
@rendermode InteractiveServer
@inject SistemasService sistemasService;

<PageTitle>Registro Sistemas</PageTitle>

<EditForm Model="sistemas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card bg-dark shadow col-8">
        <div class="card-header">
            <h1 class="text-light">Registro de Sistemas</h1>
        </div>
        <div class="card-body bg-light">
            <div class="col-4">
                <label class="fw-bold bi bi-card-text"> Nombre</label>
                <InputText @bind-Value="sistemas.NombreSistema" @oninput="MensajeGuardar" class="form-control"></InputText>
                <ValidationMessage For="@(() => sistemas.NombreSistema)" />
            </div>
            <div class="col-6">
                <div class="row">
                    <label class="fw-bold bi bi-card-text mt-1"> Descripci&oacute;n</label>
                </div>
                <InputText @bind-Value="sistemas.DescripcionSistema" @oninput="MensajeGuardar" class="form-control"></InputText>
                <ValidationMessage For="@(() => sistemas.DescripcionSistema)" />
            </div>
        </div>
        <div class="card-footer row">
            <div class="input-group">
                <a href="/IndexSistemas" class="btn btn-primary bi bi-house-door-fill">Volver</a>
                <button type="button" class="btn btn-secondary bi bi-file-earmark-diff-fill" @onclick="Nuevo" @oninput="MensajeGuardar">Nuevo</button>
                <button type="submit" class="btn btn-success bi bi-floppy-fill">Guardar</button>
            </div>
            <div class="col col-3">
                @if (resultado == 1)
                {
                    <p class="alert-success form-control m-1">@mensaje</p>
                }
                else if (resultado == 2)
                {
                    <p class="alert-danger form-control m-1">@mensaje</p>
                }
            </div>
        </div>
    </div>
</EditForm>


@code {

    public Sistemas sistemas = new Sistemas();
    public string? mensaje { get; set; }
    public int resultado { get; set; }

    public void Nuevo()
    {
        sistemas = new Sistemas();
        MensajeGuardar();
    }

    public async Task Guardar()
    {
        var guardo = await sistemasService.Guardar(sistemas);
        if (guardo)
        {
            resultado = 1;
            mensaje = "Cambios Guardados";
        }
        else
        {
            resultado = 2;
            mensaje = "Registro No Guardado Ya Existe";
        }
    }

    public void MensajeGuardar()
    {
        resultado = 0;
        mensaje = string.Empty;
    }
}
