@page "/EliminarSistema";
@page "/EliminarSistema/{SistemaId:int}";
@rendermode InteractiveServer
@inject SistemasService sistemasService;

<PageTitle>Eliminar Sistema</PageTitle>

<div class="card shadow col-8">
    <div class="card-header bg-dark">
        <h1 class="text-light">Eliminar Sistema</h1>
    </div>
    <div class="card-header bg-secondary">
        <h4 class="text-warning fw-bold">@mensaje</h4>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <p><strong class="text-primary bi bi-key">-ID:</strong> @sistemas.SistemaId</p>
                <p><strong class="text-primary bi bi-card-text">-Nombre:</strong> @sistemas.NombreSistema</p>
                <p><strong class="text-primary bi bi-card-text">-Descripci&oacute;n:</strong> @sistemas.DescripcionSistema</p>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-end input-group">
        <a href="/IndexSistemas" class="btn btn-primary bi bi-house-door-fill ms-auto">Volver</a>
        <button type="button" class="btn btn-danger bi bi-trash-fill" @onclick="Eliminar">Eliminar</button>
    </div>
</div>
@code {

    [Parameter]
    public int SistemaId { get; set; }
    public Sistemas sistemas { get; set; } = new Sistemas();
    public string? mensaje { get; set; } = "¿Éstas seguro que deseas eliminar el Sistema?";

    protected override async Task OnInitializedAsync()
    {
        if (SistemaId > 0)
        {
            sistemas.SistemaId = SistemaId;
            await Buscar();
        }
    }

    public async Task Buscar()
    {

        var sistemabuscado = await sistemasService.Buscar(sistemas.SistemaId);
        if (sistemabuscado != null)
        {
            sistemas = sistemabuscado;
        }
        else
        {
            sistemas = new Sistemas();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await sistemasService.Eliminar(sistemas);
        if (eliminado)
        {
            sistemas = new Sistemas();
            mensaje = "Sistema Eliminado...";
            await Buscar();
        }
    }
}
