@page "/RPrioridades";
@page "/RPrioridades/{PrioridadId:int}";
@rendermode InteractiveServer
@inject PrioridadesBLL prioridadesBLL;

<EditForm Model="prioridades" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class=" card">
        <div class="card-header">
            <h1>Registro de Prioridades</h1>
        </div>
        <div class="card-body">
            <label>PrioridadId</label>
            <div >
                <InputNumber @bind-Value="prioridades.PrioridadId" ></InputNumber>
                <button type="button" class="btn btn-primary bi bi-search" @onclick="Buscar"></button>
                @if (_existeid)@*Si _existeid es verdadero muestra el mensaje*@
                {
                    <p class="text-danger">No se encontr&oacute; la prioridad</p>
                }
            </div>
            <div >
                <label>Descripci&oacute;n</label>
                <InputText @bind-Value="prioridades.Descripcion" class="form-control"></InputText>
                <ValidationMessage For="@(() => prioridades.Descripcion)"/>
                @if (_existe)@*Si _existe es verdadero muestra alerta al guardar*@
                {
                    <p class="text-danger">Descripci&oacute;n ya se encuentra registrada</p>
                }
            </div>
            <div>
                <label>Dias Compromiso</label><br />
                <InputNumber @bind-Value="prioridades.DiasCompromiso" ></InputNumber>
                <ValidationMessage For="@(() => prioridades.DiasCompromiso)"/>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo<i class=" bi bi-file-earmark-diff-fill" /></button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar<i class="bi bi-trash-fill " /></button>
            <button type="submit" class="btn btn-success">Guardar<i class="bi bi-floppy-fill" /></button>
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades prioridades = new Prioridades();
    private bool _existe = false;
    private bool _existeid = false;

    protected override void OnInitialized()
    {
        if (PrioridadId > 0)
        {
            prioridades.PrioridadId = PrioridadId;
            Buscar();
        }
    }
    public void Buscar()
    {
        _existe = false;
        var prioridadEncontrada = prioridadesBLL.Buscar(prioridades.PrioridadId);
        if (prioridadEncontrada != null)
        {
            this.prioridades = prioridadEncontrada;
            _existeid = false;
        }
        else 
        {
            this.prioridades = new Prioridades();
            _existeid = true;
        }
    }

    public void Nuevo()
    {
        this.prioridades = new Prioridades();
        _existe = false;
        _existeid = false;
    }

    public bool Validar()
    {
        _existe = (prioridadesBLL.Listar(p => p.Descripcion!.ToLower() == prioridades.Descripcion!.ToLower()
        && p.PrioridadId != prioridades.PrioridadId).Any());
        return _existe;
    }

    public void Guardar()
    {
        if (Validar())
            return;
        var guardo = prioridadesBLL.Guardar(this.prioridades);
        Nuevo();
    }

    public void Eliminar()
    {
        if (prioridadesBLL.Existe(prioridades.PrioridadId))
        {
            prioridadesBLL.Eliminar(this.prioridades);
            this.Nuevo();
        }
    }
}
